* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------ */

header {
    height: 100px;
    width: 100%;
    background-color: #2D3E50;
    align-items: center;
}

#jumbotron {
    background-color: #18BC9C;
}

#portfolio {
    min-height: 500px;
}

#about {
    min-height: 300px;
    background-color: #18BC9C;
}

#contact {
    min-height: 500px;
}

#info {
    min-height: 200px;
    background-color: #3A546D;
}

#copyright {
    min-height: 100px;
    background-color: #2D3E50;
}

section {
    padding: 50px 0;
}

/* ------------------------------------------------------ */

hr {
    border: 2px solid;
}

.fa-star {
    font-size: 30px;
    margin: 0 10px;
}

.my-star::before,
.my-star::after {
    content:"";
    display: inline-block;
    width: 100px;
    height: 5px;
    border-radius: 20px;
    background-color: white;
}

.my-star i {
    vertical-align: middle;
}

.my-star2::before,
.my-star2::after {
    content:"";
    display: inline-block;
    width: 100px;
    height: 5px;
    border-radius: 20px;
    background-color: #2D3E50;
}

.my-star2 i {
    vertical-align: middle;
}

.white {
    color: white;
}

.petrolio {
    color: #2D3E50;
}

.green {
    color: #18BC9C;
}

/* ------------------------------------------------------ */

.fa-bars {
    transition: 1s;
}

.fa-bars:hover {
    background-color: rgba(255, 255, 255, 0.4)
}

#jumbotron .img {
    height: 200px;
    width: 200px;
}

/* ------------------------------------------------------ */
/* PORTFOLIO */

.quadrato {
    height: 100%;
    width: 100%;
    position:relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    border-radius: 20px;
}

.fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
}

.quadrato:hover .overlay {
    display: block;
    cursor: pointer;
}

.quadrato img {
    width: 100%;
    border-radius: 20px;
}

/* ------------------------------------------------------ */
/* ABOUT */

#bottone {
    text-align: center;
}

.h100 {
    height: 100px;
}

#send {
    background-color: #18BC9C;
}

/* ------------------------------------------------------ */

footer {
    color: white;
}

.my__icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:1px solid white; 
    cursor: pointer;
}

.my__footerBottom span {
    font-size: small;
}

#copyright span {
    margin: auto;
}

/* ------------------------------------------------------ */
/* MEDIA */

@media (max-width: 991px) {

    #nav-header {
        display: none;
    }
    
}


